<a href="https://colab.research.google.com/github/DeusExspiravit/Python3.8/blob/main/Linear_Regression(housing%20case%20study).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
import pandas as pd
import numpy as np

In [88]:
dataset = pd.read_csv('/content/Housing (1).csv')

In [89]:
columns = dataset.columns

In [90]:
L = []
for i in columns:
  if type(dataset[i][0]) == str:
    L.append(i)

In [91]:
L

['mainroad',
 'guestroom',
 'basement',
 'hotwaterheating',
 'airconditioning',
 'prefarea',
 'furnishingstatus']

In [92]:
st = {}
for i in L:
  p = dataset[i].unique()
  st[i[:2]] = p

In [93]:
st

{'ai': array(['yes', 'no'], dtype=object),
 'ba': array(['no', 'yes'], dtype=object),
 'fu': array(['furnished', 'semi-furnished', 'unfurnished'], dtype=object),
 'gu': array(['no', 'yes'], dtype=object),
 'ho': array(['no', 'yes'], dtype=object),
 'ma': array(['yes', 'no'], dtype=object),
 'pr': array(['yes', 'no'], dtype=object)}

In [94]:
ad = []
for i in st:
  ad.append(i)

In [95]:
for i in range(len(st)):
  n = int(len(st[ad[i]]))
  di = {}
  for j in range(n):
    di[st[ad[i]][j]] = j
  print(di)
  print(L[i])
  dataset[L[i]] = dataset[L[i]].apply(di.get)

{'yes': 0, 'no': 1}
mainroad
{'no': 0, 'yes': 1}
guestroom
{'no': 0, 'yes': 1}
basement
{'no': 0, 'yes': 1}
hotwaterheating
{'yes': 0, 'no': 1}
airconditioning
{'yes': 0, 'no': 1}
prefarea
{'furnished': 0, 'semi-furnished': 1, 'unfurnished': 2}
furnishingstatus

In [96]:
dataset.head()

      price  area  bedrooms  ...  parking  prefarea  furnishingstatus
0  13300000  7420         4  ...        2         0                 0
1  12250000  8960         4  ...        3         1                 0
2  12250000  9960         3  ...        2         0                 1
3  12215000  7500         4  ...        3         0                 0
4  11410000  7420         4  ...        2         1                 0

[5 rows x 13 columns]

In [97]:
import sklearn 
from sklearn.model_selection import train_test_split

In [110]:
y = dataset['price']

In [117]:
x = dataset.drop('price', axis=1)

In [160]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

In [161]:
from sklearn.linear_model import LinearRegression

In [162]:
model = LinearRegression()

In [163]:
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [164]:
predictions = model.predict(x_test)

In [165]:
predictions[:5]

array([3575489.81691792, 5140904.20392983, 4440435.15305676,
       7422121.03469539, 5546520.9714258 ])

In [166]:
model.score(x, y)

0.67882365907758